/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}
pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}
@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0;
}
/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}
.token.punctuation {
  color: #999;
}
.namespace {
  opacity: .7;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: #905;
}
.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
  color: #690;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}
.token.regex,
.token.important {
  color: #e90;
}
.token.important {
  font-weight: bold;
}
.token.entity {
  cursor: help;
}
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #34495e;
  font-size: 14px;
}
a:link,
a:visited {
  color: #2c3e50;
  text-decoration: none;
  font-weight: bold;
}
a:hover,
a:active {
  color: #1abc9c;
}
header {
  background: #2c3e50 url(../images/hero_bg.png) no-repeat right top;
  colro: white;
}
header > .inner {
  width: 900px;
  margin: 0 auto;
  font-family: 'Oswald', sans-serif;
  height: 80px;
  text-align: center;
}
header > .inner h1,
header > .inner h2 {
  display: inline-block;
  line-height: 80px;
  text-align: center;
  color: white;
}
header > .inner h2 {
  margin-left: 20px;
}
header #hero .inner {
  width: 900px;
  margin: 0 auto;
}
header #hero .inner #demo-input {
  width: 65%;
  margin: 0 auto;
  padding: 150px 0;
}
header #hero .inner #demo-input input {
  border: 5px solid #34495e;
  font-size: 48px;
  padding: 10px;
  width: 100%;
  outline: 0;
  color: #22313d;
}
header #hero .inner #demo-input label {
  font-weight: bold;
  padding-left: 5px;
  color: #22313d;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
h3 {
  background: #1abc9c;
  line-height: 30px;
  padding: 0 10px;
  color: white;
  float: left;
  margin: 20px 0;
}
h4 {
  margin-bottom: 20px;
}
#colorlines > div {
  width: 20%;
  height: 50px;
  float: left;
}
#colorlines ._1 {
  background-color: #1abc9c;
}
#colorlines ._2 {
  background-color: #2ecc71;
}
#colorlines ._3 {
  background-color: #3498db;
}
#colorlines ._4 {
  background-color: #9b59b6;
}
#colorlines ._5 {
  background-color: #34495e;
}
#social-buttons .vhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
#social-buttons .social-buttons > li {
  display: block;
  margin: 0;
  padding: 10px;
  float: left;
}
#social-buttons .social-buttons .socialite {
  display: block;
  position: relative;
  background: url('../images/social-sprite.png') 0 0 no-repeat;
}
#social-buttons .social-buttons .socialite-loaded {
  background: none !important;
}
#social-buttons .social-buttons .twitter-share {
  width: 55px;
  height: 65px;
  background-position: 0 0;
}
#social-buttons .social-buttons .googleplus-one {
  width: 50px;
  height: 65px;
  background-position: -75px 0;
}
#social-buttons .social-buttons .facebook-like {
  width: 50px;
  height: 65px;
  background-position: -145px 0;
}
#social-buttons .social-buttons .linkedin-share {
  width: 60px;
  height: 65px;
  background-position: -215px 0;
}
#content {
  width: 900px;
  margin: 0 auto;
  padding: 60px 20px;
  margin-bottom: 200px;
}
#content div.block {
  background: #EFEFEF;
  padding: 20px;
}
